core/dtd/trap.dtd

<!ELEMENT trap ( import?, name, level, projectile, target, effects, sounds?) >

<!ELEMENT name  ( #PCDATA ) >

<!ELEMENT level  ( #PCDATA ) >

<!ELEMENT projectile  ( #PCDATA ) >

<!ELEMENT sounds ( disarmed?, sprung? ) >
<!ELEMENT disarmed ( track )* >
<!ELEMENT sprung ( track )* >

<!ENTITY % audiotrack SYSTEM "audiotrack.dtd">
%audiotrack;

<!ELEMENT effects  ANY >

<!ENTITY % target SYSTEM "targettype.dtd">
%target;

<!ENTITY % import SYSTEM "import.dtd">
%import;